body {
    background-color:#363534;
}
html{
    min-height:100%;
    position:relative;
    padding-bottom:5.5rem;
}
footer{
    text-align:center;
    background-color: #444342;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5rem;
    width: 100%;
    overflow:hidden;
    margin-top:5rem;
    padding:12pt;
    border-top:solid 1px darkslategray;

}
footer span{
    color:skyblue;
}

.jumbotron {
    background: url("../images/banner.png");
    background-size: cover;
    position:relative;
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 100px;
}
textarea{
    width: 100%;
    height: 300px;
    margin-top: 10%;
    margin-bottom: 5%;
}   

.jumbotron:before{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
}
    

.borderImage {
    background-image: url("../images/border.jpg");
    width: 100%;
    background-repeat: repeat-x;
    height: 8px;   
}

#search-btn, #search, #search-btn1 {
    font-weight:bolder;
    font-size:18pt;
    margin-top: 20px;
    z-index:2
}
#search-btn, #search-btn1{
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
    position:relative;
    
}

#search-btn:hover, #search-btn1:hover{
    color:black;
    text-shadow:
    -1px -1px 0 yellow,  
     1px -1px 0 yellow,
     -1px 1px 0 yellow,
      1px 1px 0 yellow;
}
#search-btn:before{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
}
#search-btn span{
    position: relative;
    z-index:2
}

#search-btn1{
    margin:auto auto;
}
.comment-Author{
    height: 40px;
    border-radius: 5px;
}
.input-Comment {
    border-radius: 5px;
}

.bg-light {
 background-color: lightcyan!important;
}

#searchTab {
    border-radius: 0;
}

.container {
    background-color:#363534;
}

.info-divider {
    background-color:skyblue;
    border-width:1px;
    width:73%;
    margin-left:25%;
}

.game-card {
    background-image: linear-gradient(black, rgb(1, 0, 66));
    height:auto;
    margin:3rem 0rem 3rem 0rem;
    border-radius:0.3rem;
    border: solid;
    border-color:darkslategray;
    border-width:0.15rem;
    box-shadow:1pt 1pt 3pt black;
}   

.news-card {
    background-image: linear-gradient(black, rgb(1, 0, 66));
    height:auto;
    margin:-3rem 0rem 0rem 0rem;
    border-radius:0.3rem;
    border: solid;
    border-color:darkslategray;
    border-width:0.15rem;
    box-shadow:1pt 1pt 3pt black;
}

.player-card {
    background-image: linear-gradient(black, rgb(1, 0, 66));
    height:auto;
    border-radius:0.3rem;
    border: solid;
    border-color:darkslategray;
    border-width:0.15rem;
    box-shadow:1pt 1pt 3pt black;
    padding:2rem;
    color:skyblue;
}

#headline {
    font-family: 'Press Start 2P', cursive;
    font-weight: bolder;
    font-size: 42pt;
    text-align: center;
    color: black;
    z-index: 2;
    text-shadow: 6.2pt 2.4pt 4pt black;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: yellow;
    position: relative;
}

.underline:hover {
    text-decoration-color: yellow;
}


#headline2 {
    position: relative;
    font-family: 'Press Start 2P', cursive;
    font-weight: bolder;
    font-size: 25pt;
    text-align: center;
    color: black;
    text-shadow: 6.2pt 2.4pt 4pt black;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: yellow;
}

h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:skyblue;
    text-shadow: .6pt 1.2pt 4pt skyblue;

}

h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:skyblue;
    text-shadow: .6pt 1.2pt 4pt skyblue;
    font-size: 130%
}

h4{
    color:skyblue;
    font-size:100%;
}

h5{
    color:skyblue;
    padding-top:.8rem;
    font-size:100%;
}

.info-desc{
    color:lightcyan;
    font-size:100%;
    padding-right:1rem;
    padding-left:1rem;

}

.info-plat{
    color:lightslategray;
    font-size:80%;
    padding-right:1rem;

}

.info-release{
    color:lightslategray;
    font-size:80%;
    float:left;
    padding-bottom:0rem !important;
    margin-top:-2rem;
}

#release{
    padding-bottom:0rem !important;
    float:right;

}


.additional{
    border-color:skyblue;
    padding:10pt;
    margin-top:2rem;
}

.article {
    padding-top:2.5em;
    padding-bottom:1.5em;
}

.comment{
    border-color:rgba(119, 136, 153, 0.5) !important;
}

.comment-pic{
    border-style:solid;
    border-width:1px;
    border-color:rgba(119, 136, 153, 0.5);
}

.form-control {
    color:#fff !important;
}

#inputGroup-sizing-lg {
    color:#fff;
}

.red::placeholder{
    color:red;
}

.btn {
    color:#fff;
}

.game-logo {
    float:left;
    border-color: rgb(1, 0, 66);
    width:250px;
    height:190px !important;
}

.poplink {
    cursor:pointer;
    padding-right:2rem;
    
}

.poplink:active {
    color:#33CC00;
}

.frameBorder{
    border:#33CC00;
    border-style:solid;
    border-width:1.5pt;
    border-radius:3pt;
    box-shadow:1.2pt 2.4pt 8pt rgb(2, 0, 128);
    height:56.25%
}

.article-img1{
    height:200px;
    max-width: 330px;
    float:left;
    margin-bottom:1rem;
    vertical-align: text-top;

}

.article-img2{
    height:200px;
    max-width: 330px;
    float:left;
    vertical-align: text-top;
    clear:both;
}
.article-img3{
    height:200px;
    max-width: 330px;
    float:left;
    vertical-align: text-top;
    clear:both;
}
.news-image{
    height:200px;
    max-width: 330px;
    float:left;
    margin-bottom:1rem;
    vertical-align: text-top;
    margin-right:1rem;
    
}
.news-pop{
    padding-right: 3%;
    
}

.border-bottom{
    border-bottom:solid;
    border-width:1px;
    border-color:rgba(119, 136, 153, 0.5) !important;
    margin-bottom:1rem;
}
.img-thumbnail{
    background-color: rgb(2, 0, 128);
    border-width:.5px;
    border-color:rgb(2, 0, 128);
    box-shadow:1.2pt 2.4pt 8pt rgb(2, 0, 128);
}
.pic {
    
    padding: 5%;
    width: 100%;
    height: 700px;
    border-color:rgb(2, 0, 128);
    
}
#pic {
    padding-bottom: 3%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:skyblue;
    text-shadow: .6pt 1.2pt 4pt black;
}
#pic2 {
    padding-bottom: 3%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    text-shadow: .6pt 1.2pt 4pt black;
}
.vidDiv{
    margin-top: 10%;
    border-bottom: rgb(2, 0, 128) solid 2px;
    padding-bottom: 3%;
    margin-bottom: 10%;
}
.loading {
 position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: rgb(2, 0, 128) solid 2px;
  background-image: url("../images/border1.jpg");
  
}
.btn{
    background-image: url("../images/border1.jpg");
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1pt 1.2pt 4pt black;
    color: white;
}
.load{
    position: fixed; /* or absolute */
    top: 58%;
    left: 50.5%;
    color: white;
}
.newsFeed{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:skyblue;
    text-shadow: .6pt 1.2pt 4pt black;
    border-bottom: rgb(2, 0, 128) solid 2px;
    margin-top: 3%;
   
}


.fab{
    margin-left: -0.5rem;
    padding-top: 0.1rem;
    padding-right:0.5rem;
}

.fa-youtube{
    padding-right:0rem;
    margin-left: 0rem;
    padding-bottom:0.3rem;
    padding-top:0.3rem;
}

.fa-newspaper{
    padding-right:0rem;
    margin-left: 0rem;
    padding-bottom:0.3rem;
    padding-top:0.3rem;
}
.comment-Author{
    margin: auto auto;
}


@media only screen and (max-width: 600px) { 
    h1 {
        font-size: 20px;
    }
    .pic {
        height: 300px;
    }
    #headline, #headline2 {
        font-size: 26px;
    }
    .info-desc{
        text-align: center;
    }
    .game-title{
        text-align: center;
       
    }
    .game-logo{
        float: none;
        width: 100%;
        text-align: center;
    }
    .info-divider{
        width: 100%;
        margin: auto auto;
        margin-bottom: 2%;
    }
    
    .load{
        position: fixed; /* or absolute */
        top: 60%;
        left: 41%;
        color: white;
    }
    .loading {
        position: fixed; /* or absolute */
         top: 50%;
         left: 40%;
         border-radius: 50%;
         border: rgb(2, 0, 128) solid 2px;
         background-image: url("../images/border1.jpg");
         
       }
       .article-img3{
            height:150px;
            width: 100%;
          margin-bottom: 5%;
            vertical-align: none;
            clear:both;
       }
       #search-btn, #search, #search-btn1 {
        font-weight:bolder;
        font-size:10pt;
        margin-top: 20px;
        z-index:2
    }
    .comment-Author{
        margin: auto auto;
        margin-top: 10%;
    }
    #headline2{
        margin-top: 20%;
        font-size: 140%;
        
    }
  h4 {
      font-size: 20px;
  }
  #pic {
      font-size: 25px;
  }
  .newsFeed{
      font-size: 30px;
  }
  .article-img2{
      width: 100%;
      margin-bottom: 5%;
  }
  .article-img1{
      width: 100%;
      margin-bottom: 5%;
  }
  .article-title1{
      font-size: 20px;
    
  }
  .article-title2{
      font-size: 20px;
      
  }
  .info-desc1{
    font-size: 15px;
  }
  .info-desc2{
    font-size: 15px;
  }
  .news-image{
      width: 100%;
  }
  .game-logo {
     height: 250px !important;
  }
  .yt-pop{

      float: right;
  }
  .poplink{
    padding-right: 0;
  }
}