.jumbotron {
    background-color:#33CC00;
    height: 26pt;
    position:relative;
}

body {
    background-color:#363534;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;
    font-size:26pt;
    position: absolute;
    bottom:2rem;
}

.container{
    background-color:#363534;
}